<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Campus Classicals</title>

    @*<environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>*@
    

    <link rel="stylesheet" href="~/css/bundled.css" />
  
   
    @*<link rel="stylesheet" href="~/css/components-font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/css/jPlayer/dist/skin/blue.monday/css/jplayer.blue.monday.min.css" />
    <link rel="stylesheet" href="~/css/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.min.css" />
    <link rel="stylesheet" href="~/css/tefra-navgoco/src/jquery.navgoco.css" />
    <link rel="stylesheet" href="~/css/superfish-master/dist/css/megafish.css" />
    <link rel="stylesheet" href="~/css/owl.carousel/dist/assets/owl.carousel.min.css" />
    <link rel="stylesheet" href="~/css/superfish-master/dist/css/superfish.css" />
    <link rel="stylesheet" href="~/css/themify-icons/css/themify-icons.css" />
    <link rel="stylesheet" href="~/css/magnific-popup/dist/magnific-popup.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/site-override.css" />*@

    @*@Html.ApplicationInsightsJavaScript(TelemetryConfiguration)*@
</head>

<body class="kopa__homePage kopa__color--light">
@*<body class="kopa__homePage ">*@
    <header class="kopa__header style--01">
        <div class="container">
            <div class="row">
                <div class="col-xs-6 col-sm-4">
                    <div class="kopa__header__logo" >
                        <a asp-area="" asp-controller="Home" asp-action="Index">
                            <img src="~/images/logo-tr-2.png" alt="logo">
                        </a>

                        @*<a href="dark-index.html">
                            <img src="~/images/logo-tr-2.png" alt="logo">
                        </a>*@

                        @*<a class="navbar-brand" href="dark-index.html">
                            <img src="~/images/logo-tr-2.png" alt="logo">
                        </a>*@
                    </div>
                    <!-- kopa header logo-->

                    
                </div>
                <!-- col-->

                <div class="col-xs-6 col-sm-8">
                    <div class="kopa__mainMenu style--01">
                        <ul class="sf-menu">
                            <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                            <li><a asp-area="" asp-controller="Home" asp-action="About">About Us</a></li>
                            <li><a href="#">Events</a></li>
                            <li><a href="#">Gallery</a></li>

                            @*<li><a href="#">Admin</a></li>*@

                            <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact Us</a></li>
                            @*<li><a asp-area="" asp-controller="User" asp-action="Login"><i class="fa fa-sign-in"></i></a></li>*@
                            <li><a href="#"><i class="fa fa-sign-in"></i></a></li>
                        </ul>
                    </div>

                    <!-- kopa main menu-->
                    <div class="kopa__mobileMenu hidden-lg">
                        <div class="kopa__mobileMenu__iconBar">
                            <span class="iconBar__1"></span>
                            <span class="iconBar__2"></span>
                            <span class="iconBar__3"></span>
                            <span class="iconBar__4"></span>
                        </div>
                        <!-- kopa mobile menu icon bar-->

                        <ul class="nav">
                            <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                            <li><a asp-area="" asp-controller="Home" asp-action="About">About Us</a></li>
                            <li><a href="#">Events</a></li>
                            <li><a href="#">Gallery</a></li>

                            @*<li><a href="#">Admin</a></li>*@

                            <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact Us</a></li>
                            @*<li><a asp-area="" asp-controller="User" asp-action="Login">Login</a></li>*@
                            <li><a href="#">Login</a></li>
                        </ul>
                        <!-- nav-->

                    </div>
                    <!-- kopa mobile menu-->
                </div>
                <!-- col-->
            </div>
            <!-- row-->
        </div>
        <!-- container-->
    </header>
    <!-- kopa__header-->
    @*<div class="container body-content">*@
    <div>
        @RenderBody()
    </div>


    <section class="kopa__bottomSidebar style--01">
        <div class="widget kopa__social style--02">
            <div class="widget-content">
                <ul>
                    <li><a href="#" class="kopa__social__first"><i class="fa fa-facebook"></i><span>facebook</span></a></li>
                    <li><a href="#" class="kopa__social__second"><i class="fa fa-skype"></i><span>skype</span></a></li>
                    <li><a href="#" class="kopa__social__third"><i class="fa fa-google-plus"></i><span>google plus</span></a></li>
                    <li><a href="#" class="kopa__social__fourth"><i class="fa fa-linkedin"></i><span>linkedin</span></a></li>
                    <li><a href="#" class="kopa__social__fifth"><i class="fa fa-twitter"></i><span>twitter</span></a></li>
                </ul>
            </div>
            <!-- widget content-->
        </div>
        <!-- kopa social-->
        <section class="kopa__bottomSidebar--bottom style--01 kopa__parallax">
            <div class="container" >
                <div class="widget kopa__addressBottom style--01" >
                    <div class="row">
                        @*<div class="col-xs-12 col-md-6 col-md-offset-3" >*@
                        <div class="col-xs-12 col-md-12 ">
                            @*<div class="kopa__addressBottom__logo">
                <a href="#">
                    <img src="images/main/logo--bottom.png" alt="">
                </a>
            </div>*@



                            <!-- kopa address bottom logo-->
                            <div class="kopa__addressBottom">
                                <p>Suite 304, AHCN Towers, CIPM Avenue CBD Alausa,<br>Ikeja Lagos, Nigeria</p>
                                <p>mail@campusclassicals.org</p>
                                <p>
                                    0805 161 0181,
                                    0807 926 5158,
                                    0818 816 2555,
                                    0813 343 6518
                                </p>


                                @*<span class="kopa__addressBottom--phone">
                    0805 161 0181,
                    0807 926 5158,
                    0818 816 2555,
                    0813 343 6518
                </span>*@
                            </div>
                            <!-- kopa address bottom bottom-->
                        </div>
                        <!-- col-->
                    </div>
                    <!-- row-->
                </div>
                <!-- kopa address bottom-->
            </div>
            <!-- container-->

        </section>
        <!-- kopa bottom sidebar bottom-->
    </section>





    <!-- kopa bottom sidebar-->
    <footer class="kopa__footer style--01">
        <div class="container">
            <p>@DateTime.UtcNow.Year Ⓒ Campus Classicals</p>
        </div>
        <!-- container-->
    </footer>

    <!-- kopa__footer-->
    <div class="kopa__backToTop style--01">
        <div class="kopa__backToTop--flip"><i class="fa fa-angle-up"></i></div>
        <!-- kopa back to top flip-->
    </div>



    @*<environment names="Development">
            <script src="~/lib/jquery/dist/jquery.js"></script>
            <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
            <script src="~/js/site.js" asp-append-version="true"></script>
        </environment>
        <environment names="Staging,Production">
            <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                    asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                    asp-fallback-test="window.jQuery">
            </script>
            <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/bootstrap.min.js"
                    asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                    asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
            </script>
            <script src="~/js/site.min.js" asp-append-version="true"></script>
        </environment>*@


    @*<environment names="Development">*@
        <script src="~/js/jquery/dist/jquery.min.js"></script>
        <script src="~/js/bootstrap-sass/assets/javascripts/bootstrap.min.js"></script>
        <script src="~/js/jquery.countdown/dist/jquery.countdown.min.js"></script>
        <script src="~/js/imagesloaded/imagesloaded.pkgd.min.js"></script>
        <script src="~/js/jPlayer/dist/jplayer/jquery.jplayer.min.js"></script>
        <script src="~/js/jPlayer/dist/add-on/jplayer.playlist.min.js"></script>
        <script src="~/js/masonry/dist/masonry.pkgd.min.js"></script>
        <script src="~/js/matchHeight/dist/jquery.matchHeight-min.js"></script>
        <script src="~/js/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js"></script>
        <script src="~/js/tefra-navgoco/src/jquery.navgoco.min.js"></script>
        <script src="~/js/owl.carousel/dist/owl.carousel.min.js"></script>
        <script src="~/js/sticky/jquery.sticky.js"></script>
        <script src="~/js/superfish-master/dist/js/superfish.min.js"></script>
        <script src="~/js/bootstrap-responsive-tabs-master/js/responsive-tabs.js"></script>
        <script src="~/js/FitVids.js-master/jquery.fitvids.js"></script>
        <script src="~/js/magnific-popup/dist/jquery.magnific-popup.min.js"></script>
        <script src="~/js/gmaps/gmaps.min.js"></script>
        <script src="~/js/custom.js"></script>
    @*</environment>*@

    @RenderSection("scripts", required: false)

    <environment names="Development,Staging,Production">
        <script src="http://maps.google.com/maps/api/js?sensor=true"></script>
    </environment>



</body>






















@*<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">CampusClassicals.Web</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="About">About</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2019 - CampusClassicals.Web</p>
        </footer>
    </div>

    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("scripts", required: false)
</body>*@
</html>
