@{
    ViewBag.Title = "Home";
}

<section class="kopa__mainContent">

    <!-- main slider -->
    @Html.Partial("_MainSlider")

    <!-- main slider 02 -->
    @Html.Partial("_Welcome")

    <!-- main slider 04 -->
    @Html.Partial("_CountDown")

    <!-- main slider 05 -->
    @Html.Partial("_LatestNews")

    <!-- main slider 09 -->
    @Html.Partial("_Gallery")

    <!-- main slider 12 -->
    @Html.Partial("_Samples")

    <!-- main slider 15 -->
    @Html.Partial("_Newsletter")

    <!-- main slider 16 -->
    @Html.Partial("_Contact")

</section>
<!-- kopa__mainContent-->
